<div class="container mt-1">
    <div class="row">
        <mat-card class="col-sm-12" style="height: auto; background-color: aliceblue;">

            <div class="row text-center">
                <h1 class="fw-bold">LISTA DE PERSONAJES </h1>
            </div>

            <mat-form-field>
                <mat-label><span class="material-icons">search</span></mat-label>
                <input #input autocomplete="off" matInput placeholder="Busqueda" (keyup)="applyFilter($event)">
            </mat-form-field>
    
            <div class="example-button-container">
                <button (click)="agregarPersonaje()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>group_add</mat-icon>
                </button>
            </div>
            
            <div class="table-responsive">
                <table 
                    mat-table [dataSource]="dataSource" 
                    class="mat-elevation-z8"
                    matSort>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let personaje">{{personaje.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let personaje">{{personaje.name | slice: 0:5 }} </td>
                    </ng-container>

                    <ng-container matColumnDef="imagen">
                        <th mat-header-cell *matHeaderCellDef> Imagen </th>
                        <td mat-cell *matCellDef="let personaje">
                            <img src="{{personaje.image}}" style="width: 30%;padding: 0.2rem;">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="species">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Especie </th>
                        <td mat-cell *matCellDef="let personaje">{{personaje.species}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Mas info </th>
                        <td mat-cell *matCellDef="let personaje">
                            <button mat-fab color="secondary" (click)="detallePersonaje(personaje.id)" 
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <mat-icon>info</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let personaje; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No se encontro el dato solicitado "{{input.value}}"</td>
                    </tr>
                </table>
            </div>
            <mat-paginator [length]="personajes.length" [pageSize]="2" [pageSizeOptions]="[2, 3, 5, 10, 15, 20]"
                    aria-label="Select page">
            </mat-paginator>
        </mat-card>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" 
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" 
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="staticBackdropLabel">{{personaIndividual.name}}</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card" style="width: 18rem;">
                            <img src="{{personaIndividual.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <ul>
                                    <li>ID: {{personaIndividual.id}}</li>
                                    <li>Estado: {{personaIndividual.status}}</li>
                                    <li>Sexo: {{personaIndividual.gender}}</li>
                                    <li>Fecha: {{personaIndividual.created | date}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>