.body{
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items:center;
}

.login {
    width: 100%;
    max-width: 450px;
    text-align: center;
    
}

.ancho{
    width: 80%;
}

.button{
    height:  50px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(6, 6, 51);
    color: white;

}